<p>
  welcome-page works!
</p>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div id="animation"><img src='/assets/images/robot.jpg' width="130px" height="100px"></div>
<button type="submit" class="btn btn-primary" (click)="goToTakePhoto()">
  <span class="glyphicon glyphicon-floppy-disk">   
<div id="start"><img src='/assets/images/start.png' width="130px" height="100px"></div>
</span>
</button>
<td><img src='192.168.0.38:8080/image.jpg' width="130px" height="100px"></td>
